/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    padding: 8px 24px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.layout {
    position: relative;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
main {
    padding: 8px;
    width: 100%;
    overflow: hidden;
}

.hero, .product_details_container {
    margin-top: 100px !important;
}

.flex {
    display: flex;
    align-items: center;
}

.flex_wrap {
    flex-wrap: wrap;
    width: 100%;
}

.pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black
}

.name_font {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 10px;
}

.hero_text {
    width: 550px;
    height: max-content;
    padding: 8px 24px;
    margin: 40px auto;

}

.hero_wrapper_up, .hero_wrapper_down {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.span_1 {
    padding: 16px 16px;
}

.span_2 {
    background-color: black;
    color: rgb(253, 181, 193);
    padding: 16px 32px;
    border-radius: 28px;
    letter-spacing: 0.3rem;
}

.span_3 {
    padding: 16px 32px;
    border: 4px solid rgb(253, 181, 193);;
    border-radius: 28px 0 28px 28px;
    letter-spacing: 0.3rem;
}

.span_4 {
    padding: 16px 32px;
}

.category {
    width: 100%;
    padding: 16px 8px;
    position: sticky;
    overflow-y: scroll;
}

.category::-webkit-scrollbar {
    display: none;
}

.bullet a {
    background-color: black;
    padding: 8px 16px;
    color: white;
    border-radius: 28px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin: 0 8px;
}

.bullet a:hover {
    background-color: rgb(253, 181, 193);
    color: black;
}

.bullet a .active {
    background-color: rgb(253, 181, 193);
    color: black;
}

ul {
    list-style: none;
}

.featured {
    width: 100%;
    height: 40dvh;
}

.product {
    width: min-content;
}

.product a {
    text-decoration: none;
    color: black;
    width: min-content;
}

.product_card {
    width: 260px;
    height: 330px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.details {
    align-self: flex-start;
    margin-left: 16px;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex_even {
    justify-content: space-between;
}

.flex_center .icon {
    align-self: center;
}

.flex_center .details {
    align-self: center;
}

.product_name {
    font-size: 1.2rem;
    font-weight: 400;
}

.product_price {
    font-size: 1rem;
    font-weight: 700;
}

.image_container {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 18px;
}

.image {
    transition: transform 0.5s;
    object-fit: cover;
    border-radius: 18px;
}

img {
    cursor: pointer;
}

.image:hover {
    transform: scale(1.2);
}

.product_details_container {
    width: fit-content;
    display: block;
    margin: auto;
}

.product_details {
    padding: 16px;
}

.mySwiper3 {
    width: 500px;
    height: 480px !important;
    border-radius: 18px !important;
    z-index: 0 !important;
}

.swiper-slide-shadow {
    display: none !important;
}

.swiper-pagination-bullet {
    background-color: black !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.btn {
    width: auto;
    border-radius: 28px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    transition: all 0.3s ease-in-out;
}

button {
    background: transparent;
    border: none;
}

.delete_btn {
    background-color: #fc5b5b;
    color: black;
}

.btn_qty {
    background: transparent;
    border: none;
}

.btn h5 {
    margin: 0 8px;
}

.cart, .btn h5 {
    align-self: center;
    justify-self: center;
}

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quantity {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    border: 3px solid black;
    border-radius: 28px;
    margin: 24px auto;
    background-color: black;
    color: white;
}

.disabled {
    display: none !important;
}

.grey {
    background-color: grey;
    opacity: 0.7;
    border-color: grey;
}

.cart_body {
    width: 40vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: white;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
}

.cart_navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart_wrapper {
    height: 100vh;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 24px 0;
}

.cart_container {
    position: relative;
    padding-bottom: 170px;
}

.cart {
    position: relative;
}

.items_num {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: pink;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart_item, .cart_item_details {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
}

.cart_item .image:hover, .mySwiper3 .image:hover {
    transform: scale(1);
}

.block {
    display: block;
    width: 100%;
    padding: 0 24px;
}

.cart_quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    background-color: black;
    color: white;
    padding: 8px 16px;
}

.cart_quantity h3 {
    padding: 0 16px;
}

.cart_total {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 16px;
    width: 40%;
}

.proceed .btn {
    width: 100%;
    margin: 24px auto;
}

.empty_cart {
    text-align: center;
}

.empty_cart h1 {
    margin-bottom: 8px;

}

.empty_cart a {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: black;
    padding: 8px 32px;
    border-radius: 28px;
    text-decoration: underline;
}

/*responsiveness*/

@media screen and (max-width: 800px) {
    .navbar {
        height: 60px;
    }

    main {
        width: 100%;
    }
    .overlay{
        height: calc(100vh - 60px);
        top: 60px;
    }
    .cart_navbar{
        height: 60px;
    }

    .hero_text {
        width: 100%;
        margin: 0 auto 16px;
        padding: 0;
    }

    .hero_wrapper_up, .hero_wrapper_down {
        width: max-content;
        margin: auto;
    }

    .span_1 {
        padding: 8px 8px;
    }

    .span_2 {
        padding: 8px 24px;
        letter-spacing: normal;
    }

    .span_3 {
        padding: 8px 24px;
        letter-spacing: normal;
    }

    .span_4 {
        padding: 8px 24px;
    }

    .product_card {
        width: 250px;
        height: 320px;
        margin: 0;
    }

    .product_card, .image {
        width: 100%;
        height: 100%;
    }

    .image_container {
        width: 230px;
        height: 230px;
    }

.product_details_container{
    margin-top: 80px !important;
}
    .product_details {
        padding: 8px;
    }

    .mySwiper3 {
        width: 350px;
        height: 300px !important;
        border-radius: 18px !important;
    }

    .btn h5 {
        margin: 0 8px;
    }

    .cart_img {
        width: 100px;
        height: 100px;
    }
    .cart_body {
    width: 100vw;
}
    .cart_total {
    width: 100vw;
}
}

@media screen and (max-width: 500px) {
    main {
        padding: 0;
    }

    .product_card {
        width: 195px;
        height: 290px;
    }

    .product_card, .image {
        width: 100%;
        height: 100%;
    }

    .image_container {
        width: 195px;
        height: 195px;
    }


    /*.product_details {*/
    /*    padding: 16px;*/
    /*}*/

    /*.mySwiper3 {*/
    /*    width: 400px;*/
    /*    height: 380px !important;*/
    /*    border-radius: 18px !important;*/
    /*}*/

    .btn h5 {
        margin: 0 8px;
    }

    .cart_img {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 424px) {
    .product_card {
        width: 95vw;
        height: 350px;
    }
 .image_container {
    width: 80vw;
    height: 300px;

}
.product_details_container .flex{
    justify-content: space-between;
}
 .flex {
    justify-content: center;
}
}